@model IEnumerable<AirportTimetable.Models.Flight>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @Styles.Render("~/Content/mainstyle.css")
    @Scripts.Render("~/scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/scripts/validate.min.js")
    @Scripts.Render("~/scripts/jquery-1.10.2.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
</head>
<body>
    <script>
        window.onload = function () {
            var height = document.body.scrollHeight;
            var scrolled;
            var timer;
            scrolled = window.pageYOffset;
            setTimeout(scrollToTop, 3000)
            function scrollToTop() {
                if (scrolled < height) {
                    window.scrollTo(0, scrolled);
                    scrolled = scrolled + 1;
                    timer = setTimeout(scrollToTop, 20);
                }
                else {
                    clearTimeout(timer);
                    window.scrollTo(0, height);
                }
            }
        }
    </script>
    <script>
        function click() {
            document.getElementById("button").click();
        }
        setTimeout(click, 10000);
    </script>
    <div id="header">
        @RenderSection("Header")
    </div>
    @RenderBody()
    <div id="maindiv">
        <table>
            @foreach (var item in Model)
            {
                <tr>
                    <td width="10%" class="tdcenteralign">
                        <span>@item.Time.ToString("HH:mm")</span>
                        <span class="link">@item.Time.ToString("dd/MM/yyyy")</span>
                    </td>
                    <td width="12%">@item.Name</td>
                    <td width="12%">@item.Company</td>
                    <td><img width="120" src="@item.CompanyLogoPath" /></td>
                    <td>@item.City</td>
                    <td width="5%" class="tdcenteralign">@item.Terminal</td>
                    <td width="25%">@item.Status</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>