@model IEnumerable<Flight>
<!DOCTYPE html>
<html>
<head>
    <base href="content/">
    <meta charset="utf-8">
    <title>Вылет</title>
    <link rel="stylesheet" type="text/css" href="~/css/mainstyle.css" />
</head>
<body>
    <div id="header">
        <div>
            <span class="maintitletext">Прилеты  </span>
            <span class="secondarytitletext">(Arrivals)</span>
            <a asp-controller="Home" asp-action="Index">Departures</a>
        </div>
    </div>
    <div id="maindiv">
        <table>
            @foreach (var item in Model)
            {
            <tr>
                <td width="10%" class="tdcenteralign">
                    <span>@item.Time.ToString("HH:mm")</span>
                    <span class="link">@item.Time.ToString("dd/MM/yyyy")</span>
                </td>
                <td width="10%">@item.Name</td>
                <td width= "15%">@item.Company</td>
                <td><img width="120" src = "@item.CompanyLogoPath"/></td>
                <td>@item.City</td>
                <td width ="5%" class="tdcenteralign">@item.Terminal</td>
                <td width="25%">@item.Status</td>
            </tr>
            }
        </table>
    </div>
</body>
</html>